<form [formGroup]="transactionForm" class="form" autocomplete="off" novalidate>
    <div class="flex flex-wrap py-6 mx-6">
        <div class="w-full mb-2">
            <label for="from_account" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">From
                Account</label>
            <input formControlName="fromAccount" type="text" id="from_account"
                class="disabled:bg-slate-50 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full mb-4 p-2.5 "
                required>

        </div>
        <div class="w-full mb-2">
            <label for="to_account" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">To
                Account</label>
            <input formControlName="toAccount" type="text" id="to_account" [placeholder]="'type an account name'"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full mb-4 p-2.5 "
                required>
            <span
                *ngIf="transactionForm.controls['toAccount'].touched && transactionForm.controls['toAccount']?.errors?.['required']">
                This field is required
            </span>
        </div>
        <div class="w-full mb-2">
            <label for="first_account"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Amount</label>
            <input (keypress)="onlyNumber($event)" formControlName="amount" type="text" id="first_account"
                [placeholder]="'specify the amount'"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full mb-4 p-2.5 "
                required>
            <span
                *ngIf="transactionForm.controls['amount'].touched && transactionForm.controls['amount']?.errors?.['required']">
                This field is required
            </span>
            <span
                *ngIf="transactionForm.controls['amount'].touched && transactionForm.controls['amount']?.errors?.['lowbalance']">
                There is not enough balance
            </span>
        </div>
        <div class="w-full mb-4 flex justify-end">
            <app-submit-button (submitForm)="submitForm($event)"
                class="bg-orange-500 hover:bg-orange-700 text-white py-2 px-4 rounded"></app-submit-button>
        </div>
    </div>

</form>



<app-modal *ngIf="reviewTransaction" [amountValue]="transactionForm.controls['amount'].value | currency:'EUR'"
    [recipientName]="transactionForm.controls['toAccount'].value" (modalclose)="modalclose()"
    (modalsubmit)="proceedTransaction()"></app-modal>