<div class="fixed z-100 w-full h-screen top-0 left-0 flex items-center justify-center">
    <div class="fixed w-full h-full flex bg-black bg-opacity-20 z-1"></div>
    <div class="relative z-10 bg-white rounded-lg border border-gray-300 w-2/5 max-w-[400px] flex flex-col">
        <div class="modal-header w-full flex justify-between p-4">
            <section class="title" [innerHTML]="modalTitle"></section>
            <section class="close-icon cursor-pointer" (click)="modalcloseEmit()"><i class="gg-close"></i></section>
        </div>
        <div class="p-4 modal-body flex flex-col border-b border-t border-gray-300 text-sm">
          
            <section class="w-full flex flex-wrap items-start content italic">{{modalDesc}}</section>
            <!-- TO DO: CHange to ng-template for reuse-->
            <section class="mt-2 w-full flex flex-wrap flex-col items-start">
                <caption class="font-bold">It will be send to account:</caption>
                <caption class="my-2">{{recipientName}}</caption>
            </section>
            <section class="w-full flex flex-wrap flex-col items-start">
                <caption class="font-bold">With the amount of:</caption>
                <caption class="my-2">{{amountValue}}</caption>
            </section>
        </div>
        <div class="modal-footer p-2 text-sm">
            <div class="w-full flex justify-end">
                <button (click)="modalcloseEmit()" class="border  hover:bg-orange-500 hover:text-white text-black py-[5px] px-4 rounded">
                    Close</button>
                <button type="submit" (click)="modalSubmitEmit()"
                    class="bg-orange-500 hover:bg-orange-700 text-white py-[5px] px-4 rounded ml-4">Send Transfer</button>
            </div>
        </div>
    </div>
</div>