<div id="bhome-container" class="box-border flex flex-col h-screen overflow-hidden">
    <app-header ></app-header>
    <main class="flex-1 overflow-hidden">
        <div id="transaction-content"
            class="py-8 center flex gap-6 justify-center h-full  bg-fixed backdrop-blur-2xl bg-left-top bg-no-repeat bg-cover bg-bhome-pattern">
            <div class="transaction-form max-w-xs min-w-xs">
                <app-card class="rounded-sm">
                    <section class="head h-8">
                        <span><b>Make</b> Transfer</span>
                    </section>
                    <section class="card-content">
                        <app-tranasction-form></app-tranasction-form>
                    </section>
                </app-card>
            </div>
            <div class="transaction-list overflow-y-scroll max-w-md w-full h-full">
                <app-card class="rounded-sm">
                    <section class="head h-8">
                        <span>Transaction <b>List</b></span>
                    </section>
                    <section class="card-content">
                      <app-transaction-list></app-transaction-list>
                    </section>
                </app-card>
            </div>
        </div>
    </main>
    <app-footer class="py-2"></app-footer>
</div>